img[src=""], img:not ([src] ) {
	opacity: 0;
}

input[type="file"] {
	z-index: 99999;
}
#sqImg {
	z-index: 999999;
}

#sqImgBack {
	z-index: 999999;
}

.delete { 
	z-index:1000000;
}
.qz-head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #FFF;
	z-index: 10000000;
	padding: 0px 15px;
}

.content {
	padding: 15px 62px 15px 20px;
	height: 100%;
	margin-top: 50px;
	overflow-y: hidden;
}

.rightNav {
	position: fixed;
	top: 50px;
	right: 0;
	z-index: 999;
	width: 40px;
	height: calc(100% - 50px);
	cursor: pointer;
}

.rightNav span {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	border-left: 4px solid #999;
	border-bottom: 4px solid #999;
	transform: translate(0, -50%) rotate(-135deg);
	-webkit-transform: translate(0, -50%) rotate(-135deg);
}
.wordSpell {
	margin-top: 3px !important;
}

.ipt-info {
	display: none;
	margin-top: 15px;
}

.NoInfo {
	width: 95%;
	height: 30px;
	margin-left: 3.5%;
	transtion: height 1s;
	-webkit-transtion: height 1s;
	-moz-transtion: height 1s;
}

.form-control {
	height: 30px;
}

.tab-content {
	margin: 0 0px;
}

.info-QRcode {
	width: 150px;
	height: 150px;
	margin: 15px auto;
	border: #edefef solid 1px;
}

.front, .back {
	width: 320px;
	margin: 0px auto;
}

.nameBeforeYes {
	margin-right: 20px;
}

.nameBeforeHide, .nationalityHide {
	display: none;
}

.nationalityHide {
	width: 42%;
	display:block;
	float:right;
}

.qz-head {
	border-bottom: 2px solid #deecff;
	padding: 15px 20px;
	display: table;
	width: 100%;
}

.basic {
	margin-left: 10px;
}

.onceIDTop {
	padding-left: 15px;
	width:48%;
}

.onceIDYes {
	margin-right: 20px;
}

.marginL {
	margin-left: 30px;
}

.nameBeforeTop {
	/* margin-top:30px; */
	
}
.IdInfo {
	border: 1px solid #7a9cd3;
}

.IdInfo li {
	padding-left: 2%;
}

.IdInfo li:hover {
	background: #1e90ff;
	cursor: pointer;
}

.IdInfo li:hover a {
	color: #FFF;
}

.IdInfo li a {
	color: #000;
}
.mainWidth {
	width: 100% !important;
}

#uploadFile, #uploadFileBack {
	width: 100% !important;
}
.nowProvince {
	width:14px;
	height:14px;
	margin-top:0px !important;
	vertical-align:middle;
}