@CHARSET "UTF-8";

.modal-content {
	position: relative;
}

.modal-body {
	padding: 15px 72px 15px 20px;
	height: 100%;
	margin-top: 50px;
	overflow-y: hidden;
}

.modal-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #FFF;
	z-index: 9999;
	padding: 0px 15px;
}

.NoInfo {
	width: 100%;
	height: 30px;
	margin-left: 3.5%;
	transtion: height 1s;
	-webkit-transtion: height 1s;
	-moz-transtion: height 1s;
}

.ipt-info {
	display: none;
}

.Unqualified, .qualified {
	margin-right: 10px;
}

.info-imgUpload {
	margin-top: 35px;
}

.nameBeforeYes {
	margin-right: 30px;
}

.onceIDYes {
	margin-right: 30px;
}

.nameBeforeHide, .nationalityHide {
	display: none;
}

.nationalityHide {
	width: 48%;
	display: block;
	float: right;
}

.wordSpell {
	display: none;
	margin-top: 3px !important;
}

.rightNav {
	position: fixed;
	top: 15px;
	right: 0;
	z-index: 999;
	width: 40px;
	height: 100%;
	cursor: pointer;
}

.rightNav span {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	border-left: 4px solid #999;
	border-bottom: 4px solid #999;
	-webkit-transform: translate(0, -50%) rotate(-135deg);
	transform: translate(0, -50%) rotate(-135deg);
}

.leftNav {
	position: fixed;
	top: 15px;
	left: 4px;
	z-index: 999;
	width: 40px;
	height: 100%;
	cursor: pointer;
}

.leftNav span {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	margin-left: 10px;
	border-right: 4px solid #999;
	border-top: 4px solid #999;
	-webkit-transform: translate(0, -50%) rotate(-135deg);
	transform: translate(0, -50%) rotate(-135deg);
}

.nowProvince {
	width: 12px;
	height: 12px;
	vertical-align: middle;
	margin-top: 0px !important;
}

.btn-margin {
	margin-top: 10px;
}

#sqImg, #sqImgBack {
	width: 335px;
}

.delete {
	z-index: 1099;
}

.marginL {
	margin-left: 30px;
}

.nameBeforeTop {
	margin-left: 40px;
}

.onceIDTop {
	margin-left: 56px;
}

img[src=""], img:not ([src] ) {
	opacity: 0;
}

input[type="file"] {
	z-index: 999;
}

.widthBig {
	width: 100%;
}

#uploadFile, #uploadFileBack {
	width: 100% !important;
}

#sqImg, #sqImgBack {
	z-index: 1000;
}
/* 国籍/省/城市 下拉框样式 */
#ui-id-1 {
	border: 1px solid #7a9cd3;
}

#ui-id-1 li {
	padding-left: 2%;
}

#ui-id-1 li:hover {
	background: #1e90ff;
	cursor: pointer;
}

#ui-id-1 li:hover a {
	color: #FFF;
}

#ui-id-1 li a {
	color: #000;
}
/*曾有国籍*/
#onceNationalityRadio {
	display: inline-block;
}
/* 现居住地是否与身份证相同的checkbox样式 */
.nowProvince {
	width:16px;
	height:16px;
}
.dropdown-menu {
	top:64px !important;
}
.input-box {
	position: relative;
	display: inline-block;
}

.input-box input {
	background-color: transparent;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 1.42857;
	padding: 6px 6px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
	width: 162.28px;
	display: inline;
	position: relative;
	z-index: 1;
}
.dropdown {
	position: absolute;
	top: 32px;
	left: 0px;
	width: 162.28px;
	background-color: #FFF;
	border: 1px solid #23a8ce;
	border-top: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	z-index: 999;
	padding: 0;
	margin: 0;
}

.dropdown li {
	display: block;
	line-height: 1.42857;
	padding: 0 6px;
	min-height: 1.2em;
	cursor: pointer;
}

.dropdown li:hover {
	background-color: #23a8ce;
	color: #FFF;
}