@CHARSET "UTF-8";

body {
	font-size: 12px;
}

[v-cloak] {
	display: none;
}

#hideOrder:hover {
	text-decoration: none;
	cursor: pointer;
}
/*头导航不随下拉移动*/
.box-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: #FFF;
	z-index: 99999;
	padding: 20px 30px 20px 40px;
}

.box-body {
	overflow: hidden;
	margin-top: 120px;
}

.card-head div {
	font-weight: normal;
}

.box-body {
	padding: 0 15px 0 15px;
}

.allDiv {
	width: 15%;
}

.searchStrWidth {
	width: 31% !important;
}

.BtnWidth {
	width: 24% !important;
}

label {
	margin-bottom: 0;
}
.spinner {
	margin-left:-8px;
}
.spinner > div {
	width:10px !important;
}