@CHARSET "UTF-8";

[v-cloak] {
	display: none;
}

.wrapper {
	background: #f9f9f9 !important;
}

.form-control {
	height: 30px;
}

.add-btn {
	top: -35px;
	right: -1.5%;
}

.remove-btn {
	top: -35px;
	right: -1.5%;
}

.multiPass_roundTrip-div {
	width: 120px;
	float: right;
	position: relative;
	top: 5px;
}

.content-wrapper, .right-side, .main-footer {
	margin-left: 0;
}

.btnState {
	color: #b0b0b0 !important;
	border: solid 1px #d2d6de;
	background-color: #fff;
	margin-right: 2.26rem;
}

.btnState-true {
	color: #287ae7 !important;
	border-color: #cee1ff;
}

.deposit, .vehicle, .houseProperty {
	display: none;
}

#urgentDays {
	width: 16.5%;
}

.info-body-from {
	margin-left: 12%;
}

.qz-head {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
}

.content {
	margin-top: 50px;
}

#applicantTable tbody tr td:nth-child(1) {
	width: 4%;
}

#applicantTable tbody tr td:nth-child(2) {
	width: 10%;
}

#applicantTable tbody tr td:nth-child(3) {
	width: 10%;
}

#applicantTable tbody tr td:nth-child(4) {
	width: 10%;
}

#applicantTable tbody tr td:nth-child(5) {
	width: 10%;
}

#applicantTable tbody tr td:nth-child(6) {
	width: 56%;
}

#schedulingTable thead tr th:nth-child(1) {
	width: 8%;
}

#schedulingTable thead tr th:nth-child(2) {
	width: 10%;
}

#schedulingTable thead tr th:nth-child(3) {
	width: 12%;
}

#schedulingTable thead tr th:nth-child(4) {
	width: 24%;
}

#schedulingTable thead tr th:nth-child(5) {
	width: 24%;
}

#schedulingTable thead tr th:nth-child(6) {
	width: 8%;
}
.spinner {
	display:inline-block;
	margin-left:-70px;
}