@CHARSET "UTF-8";
/*顶部 不随导航移动*/
.card-head {
	overflow: hidden;
	white-space: nowrap;
}

.card-head span {
	font-size: 12px;
}

.everybody-info {
	position: relative;
}

.cf {
	overflow: visible !important;
}

.whiteSpace {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 390px;
}

.showInfo {
	cursor: pointer;
}

.hideInfo {
	display: none;
	position: absolute;
	top: -33px;
	right: 0;
	background: #eee;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px;
	border-radius: 10px;
}

.card-head i {
	cursor: pointer;
}

.marginLR {
	margin: 0px 20px;
}

.btnSearch {
	margin-left: 20px;
}

[v-cloak] {
	display: none;
}
/* 加载中样式 */
.spinner { position:absolute;width:66px !important; margin-left:-10px;margin-top:4px;}