@CHARSET "UTF-8";

img[src=""], img:not ([src] ) {
	opacity: 0;
}

input[type="file"] {
	z-index: 999;
}

.delete {
	z-index: 9999;
}

.info-imgUpload {
	width: 100%;
}

#sqImg {
	z-index: 1099;
}
#marryStatus {
	margin-left:8%;
	width:234.3px;
}
.NoInfo {
	width: 100%;
	height: 30px;
	transtion: height 1s;
	-webkit-transtion: height 1s;
	-moz-transtion: height 1s;
}

.ipt-info {
	display: none;
	margin: 15px -15px;
}

.Unqualified, .qualified {
	margin-right: 10px;
}

.input-box {
	position: relative;
	display: inline-block;
}

.input-box input {
	background-color: transparent;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	display: block;
	font-size: 14px;
	line-height: 1.42857;
	padding: 6px 6px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
	width: 234.3px;
	display: inline;
	position: relative;
	z-index: 1;
}

.tip-l {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #555;
	display: inline-block;
	right: 10px;
	z-index: 0;
	position: absolute;
	top: 12px;
}

.dropdown {
	position: absolute;
	top: 32px;
	left: 0px;
	width: 234.3px;
	background-color: #FFF;
	border: 1px solid #23a8ce;
	border-top: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	z-index: 999;
	padding: 0;
	margin: 0;
}

.dropdown li {
	display: block;
	line-height: 1.42857;
	padding: 0 6px;
	min-height: 1.2em;
	cursor: pointer;
}

.dropdown li:hover {
	background-color: #23a8ce;
	color: #FFF;
}

.colSm {
	display: block;
	float: left;
	width: 200px;
}

.padding-right-0 {
	margin-left: 10%;
	width: 323px;
	border: 1px solid #eee;
}

.delete {
	right: 0;
	display: none;
}

.cardFront-div {
	height: 176px;
}

.cardFront-div #uploadFile {
	top: 0;
	width: 100% !important;
	height: 200px;
	left: 0;
	position: absolute;
}

.btnBank {
	width: 70px !important;
}
.btnReadstudent {
	width: 100px !important;
}
.btnGraduate {
	width: 100px !important;
}
/*弹框头部固定*/
.modal-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #FFF;
	z-index: 10000;
	padding: 0px 15px;
}

.btn-margin {
	margin-top: 10px;
}
.modal-main {
	width:100%;
	height:50px;
}
.modal-body {
	background-color: #FFF !important;
	height: 100%;
	padding: 0px 37px 15px 53px;
}

#sqImg {
	top: 0px;
	margin-top: -176px;
	height: auto;
}
/*左右导航样式*/
.leftNav {
	position: fixed;
	top: 15px;
	left: 4px;
	z-index: 999;
	width: 40px;
	height: 100%;
	cursor: pointer;
}

.leftNav span {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	margin-left: 10px;
	border-right: 4px solid #999;
	border-top: 4px solid #999;
	-webkit-transform: translate(0, -50%) rotate(-135deg);
	transform: translate(0, -50%) rotate(-135deg);
}
/*父母/配偶输入框*/
.unitNameRow {
	display: block;
}
.row {
	clear:both;
}
body {
	min-width: auto;
}

.tab-content {
	background-color: #f8f8f8;
}

.remove-btn {
	right: 0;
}

.modal-body {
	background-color: #f9f9f9;
}

.houseProperty, .vehicle, .deposit, .financial, .vice, .certificate, .bankflow, .taxbill, .taxproof, .readstudent, .goldcard, .graduate {
	display: none;
}
.dropdown-menu {
	width:234px;
	
}
/* .lastreturndate{
	width:234px;
	left:605.328px !important;
} */
.table-condensed {
	width:100%;
}
/* 性别 */
.sex {
	vertical-align:middle;
	margin-top:-2px !important;
	margin-right:4px;
}
.sexBoy {
	margin-left:20px;
}
.sexInfo {
	margin-right:20px;
}
/* 开关样式 */
#guaranteeHead,#inviterHead ,.guaranteeHead{
	display:block;
}
#guaranteeCBInput,#inviterCBInput {
	visibility:hidden;
}
#vouchname,#invitename {
	float:right;
	width:200px;
}
.guaranteeName ,.inviterName{
	display:none;
	float:right;
	width:200px;
}
.guaranteeCB,.inviterCB {
	margin-top:5px;
	float:left;
    width: 25px;
    height: 25px;
    background: #ddd;
    border-radius: 100%;
    position: relative;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.guaranteeCB label,.inviterCB label {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 2.5px;
    z-index: 1;
    background: #eee;
    -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.guaranteeCB input[type=checkbox]:checked + label {
    background: #26ca28;
}
.inviterCB input[type=checkbox]:checked + label {
    background: #26ca28;
}

/*单位名称、电话、地址检索*/
.IdInfo {
	border: 1px solid #7a9cd3;
}

.IdInfo li {
	padding-left: 2%;
}

.IdInfo li:hover {
	background: #1e90ff;
	cursor: pointer;
}

.IdInfo li:hover a {
	color: #FFF;
}

.IdInfo li a {
	color: #000;
}
