@CHARSET "UTF-8";

#wrapper {
	background: #FFF !important;
}

.form-control {
	height: 30px;
}

.add-btn {
	top: -35px;
	right: -1.5%;
}

.remove-btn {
	top: -35px;
	right: -1.5%;
}

.content-wrapper, .right-side, .main-footer {
	margin-left: 0;
}

.multiPass_roundTrip-div {
	width: 120px;
	float: right;
	position: relative;
	top: 5px;
}

.sm {
	width: 100%;
}

.none-sm {
	width: 100%;
}

.show-select {
	width: 110px;
}

.none-select {
	padding-left: 0px;
}

.qz-head {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
}

.content {
	margin-top: 50px;
}

.info {
	position: relative;
}

#addCustomer {
	position: absolute;
	top: 5px;
	right: 10px;
}

.col-sm-3 {
	width: 30%;
}

.col-sm-1 {
	width: 11.5%;
}

.select2 {
	width: 100% !important;
}

.schedulingBtn, .addApplicantBtn {
	width: 30% !important;
}

#applicantsTable tr td:nth-child(1) {
	width: 4%;
}

#applicantsTable tr td:nth-child(2) {
	width: 10%;
}

#applicantsTable tr td:nth-child(3) {
	width: 10%;
}

#applicantsTable tr td:nth-child(4) {
	width: 15%;
}

#applicantsTable tr td:nth-child(5) {
	width: 15%;
}

#applicantsTable tr td:nth-child(6) {
	width: 4%;
}

#applicantsTable tr td:nth-child(7) {
	width: 42%;
}