.box-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 105px;
	background: #FFF;
	z-index: 99999;
	padding: 20px 30px 20px 40px;
}

.box-body {
	overflow: hidden;
	margin-top: 96px;
}

.btnGroups {
	margin-bottom: 5px;
	margin-left: -10px;
	cursor: pointer;
	border-bottom:1px solid #d8dcdd;
	height:30px;
}

.btnList {
	color: #828388;
	margin-right: 10px;
	display: inline-block;
	width: 54px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.bgColor {
	background: #FFF;
	color: #689eda;
	border: 1px solid #d7dbdc;
	border-bottom:0;
	border-radius:6px 6px 0px 0px;
}

.btnList:hover {
	color: #828388;
}

.bgColor:hover {
	color: #689eda !important;
}