.box-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 105px;
	background: #FFF;
	z-index: 99999;
	padding: 20px 30px 20px 40px;
}

.box-body {
	overflow: hidden;
	margin-top: 96px;
}

.btnGroups {
	margin-bottom: 5px;
	margin-left: -10px;
	cursor: pointer;
}

.btnList {
	border: 1px solid #eee;
	color: #000;
	margin-right: 10px;
	display: inline-block;
	width: 54px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.bgColor {
	background: #3087f1;
	color: #FFF;
}

.btnList:hover {
	color: #000;
}

.bgColor:hover {
	color: #FFF !important;
}