@CHARSET "UTF-8";

[v-cloak] {
	display: none;
}

.card-head {
	overflow: hidden;
	white-space: nowrap;
}
.box-header {
	padding:20px 15px 0 26px;
}
.box-body {
	padding:20px 15px 0 15px;
}
.card-head div:nth-child(1) {
	width: 20%;
}
.visaInputUS {
	cursor:pointer;
	
}
.ctid {
	width:10%;
}

.card-head div:nth-child(3) {
	width: 20%;
}
.card-head div:nth-child(4) {
	width: 10%;
}
.card-head div:nth-child(5) {
	width: 25%;
	text-align:right;
}
.card-head div:nth-child(6) {
	width: 15%;
	float:right;
	text-align:right;
}

.everybody-info div:nth-child(1) {
	width: 10%;
}

.everybody-info div:nth-child(2) {
	width: 12%;
}

.everybody-info div:nth-child(3) {
	width: 14%;
}

.everybody-info div:nth-child(4) {
	width: 10%;
}

.everybody-info div:nth-child(5) {
	width: 11%;
}

.everybody-info div:nth-child(6) {
	width: 37%;
}

.everybody-info div:nth-child(8) {
	float:right;
	margin-right:1%;
}

.everybody-info {
	position: relative;
}

label {
	margin-bottom: 0;
}

.cf {
	overflow: visible !important;
}

.whiteSpace {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: right;
	position: absolute;
}

.showInfo {
	cursor: pointer;
}

.hideInfo {
	display: none;
	position: absolute;
	top: -33px;
	right: 0;
	background: #eee;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding: 0 10px;
	border-radius: 10px;
}
.spinner {
	float:none;
	width:66px !important;
	margin-left:-10px;
}
.spinner > div {
	float:none !important;
	width:10px !important;
	height:10px !important;
}
.pull-right {
	float:right;
}
.toSure {
	cursor:pointer;
}