.form-control {
	height: 30px;
}

.add-btn {
	top: -35px;
	right: -1.5%;
}

.remove-btn {
	top: -35px;
	right: -1.5%;
}

.multiPass_roundTrip-div {
	width: 120px;
	float: right;
	position: relative;
	top: 5px;
}

.content-wrapper, .right-side, .main-footer {
	margin-left: 0;
}

.btnState {
	color: #b0b0b0 !important;
	border: solid 1px #d2d6de;
	background-color: #fff;
	margin-right: 2.26rem;
}

.btnState-true {
	color: #287ae7 !important;
	border-color: #cee1ff;
}

.deposit, .vehicle, .houseProperty {
	display: none;
}

.qz-head {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
}

.content {
	margin-top: 50px;
}

#urgentday {
	width: 16.5%;
}

.bodyMargin {
	margin-left: 12%;
}

.select2-container--default {
	width: auto !important;
}

.select2-container .select2-search--inline {
	float: none;
}

.info {
	margin-bottom: 0px;
}

.paddingRight {
	padding-right: 0px !important;
	margin-left: -15px;
}

#applicantTable tbody tr td:nth-child(1) {
	width: 1%;
}

#applicantTable tbody tr td:nth-child(2) {
	width: 7%;
}

#applicantTable tbody tr td:nth-child(3) {
	width: 8%;
}

#applicantTable tbody tr td:nth-child(4) {
	width: 8%;
}

#applicantTable tbody tr td:nth-child(5) {
	width: 8%;
}

#applicantTable tbody tr td:nth-child(6) {
	width: 25%;
}

#applicantTable tbody tr td:nth-child(7) {
	width: 8%;
}

#applicantTable tbody tr td:nth-child(8) {
	width: 5%;
}

#applicantTable tbody tr td:nth-child(9) {
	width: 30%;
}

#schedulingTable thead tr th:nth-child(1) {
	width: 8%;
}

#schedulingTable thead tr th:nth-child(2) {
	width: 10%;
}

#schedulingTable thead tr th:nth-child(3) {
	width: 12%;
}

#schedulingTable thead tr th:nth-child(4) {
	width: 24%;
}

#schedulingTable thead tr th:nth-child(5) {
	width: 24%;
}

#schedulingTable thead tr th:nth-child(6) {
	width: 8%;
}

[v-cloak] {
	display: none;
}
.schedulingBtn {
	width: 30% !important;
}
.btn-Big {
	width: 70px !important;
}
.spinner {
	display:inline-block;
	margin-left:-12px;
}