<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>基本信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/passport.css">
    <script src="js/rem(750).js"></script>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/lrz.bundle.js"></script>
</head>
<body>
<form id="applicatform">
	<input type="hidden" id="orderid" name="orderid" v-model="applicatdata.orderid">
	<input type="hidden" id="comid" name="comid" v-model="applicatdata.comid">
	<input type="hidden" id="userid" name="userid" v-model="applicatdata.userid">
	<input type="hidden" id="applicantid" name="applicantid" v-model="applicatdata.applicantid">
<div class="top info">
	<span v-if="applicatdata.cardfront != ''">
		<img :src="applicatdata.cardfront" alt="" class="bacimg">
	</span>
	<span v-else>
	    <img src="images/1.jpg" alt="" class="bacimg">
	</span>
    <div id="upload">
        <h6>点击上传</h6>
        <p>身份证正面</p>
        <p>可自动识别</p>
    </div>
    <input type="file" id="image" style="display:none;" name="image">
</div>
<div class="top info">
    <span v-if="applicatdata.cardback != ''">
		<img :src="applicatdata.cardback" alt="" class="bacimg">
	</span>
	<span v-else>
	    <img src="images/1.jpg" alt="" class="bacimg">
	</span>
    <div id="upload2">
        <h6>点击上传</h6>
        <p>身份证背面</p>
        <p>可自动识别</p>
    </div>
    <input type="file" id="image2" style="display:none;" name="image">
</div>
 <ul class="label-info">
        <li>姓(中文) <input type="text" class="txtInput" v-model="applicatdata.firstname"/></li>
        <li>姓(拼音) <input type="text" class="txtInput" v-model="applicatdata.firstnameen"/></li>
        <li>名(中文) <input type="text" class="txtInput" v-model="applicatdata.lastname"/></li>
        <li>名(拼音) <input type="text" class="txtInput" v-model="applicatdata.lastnameen"/></li>
        <li>手机号 <input type="text" class="txtInput" v-model="applicatdata.telephone"/></li>
        <li>邮箱 <input type="text" class="txtInput" v-model="applicatdata.email"/></li>
        <li>性别 <input type="text" class="txtInput" v-model="applicatdata.sex"/></li>
        <li>出生日期 <input type="text" class="txtInput" v-model="applicatdata.birthday"/></li>
        <li>身份证号 <input type="text" class="txtInput" v-model="applicatdata.cardid"/></li>
        <li>住址(省) <input type="text" class="txtInput" /></li>
        <li>住址(市) <input type="text" class="txtInput" /></li>
        <li>住址(街楼) <input type="text" class="txtInput" v-model="applicatdata.address"/></li>
        <li>签发机关 <input type="text" class="txtInput" v-model="applicatdata.issueorganization"/></li>
        <li>签发日期 <input id="issueDate" type="text" class="txtInput" data-lcalendar="2011-01-1,2019-12-31" readonly="" v-model="applicatdata.validstartdate"/></li>
        <li>有效期至<input id="birthDate" type="text" class="txtInput" data-lcalendar="2011-01-1,2019-12-31" readonly="" v-model="applicatdata.validenddate"/></li>
        <li>现在地址是否与身份证一致 <input type="text" class="txtInput" /></li>
        <li>住址(省) <input type="text" class="txtInput" v-model="applicatdata.province"/></li>
        <li>住址(市) <input type="text" class="txtInput" v-model="applicatdata.city"/></li>
        <li>住址(街楼) <input type="text" class="txtInput" v-model="applicatdata.detailedaddress"/></li>
    </ul>
<div class="bottom">
    <a class="clear btn">清除</a><a class="next btn">下一步</a>
</div>
</form>
<script src="/references/common/js/vue/vue.min.js"></script>
</body>
<script>
	
	//异步加载的URL地址
	var url="/admin/mobile/applicatinfo.html";
	var _self;
	new Vue({
		el: '#applicatform',
		data: {applicatdata:""},
		created:function(){
			var comid = GetQueryString('comid');
			var userid = GetQueryString('userid');
			var orderid = GetQueryString('orderid');
			var applicantid = GetQueryString('applicantid');
			console.log(comid+"    userid:"+userid+"   orderid:"+orderid+"applicantid:"+applicantid);
	        _self=this;
	        $.ajax({ 
	        	url: url,
	        	data:{comid:comid,userid:userid,orderid:orderid,applicantid:applicantid},
	        	dataType:"json",
	        	type:'post',
	        	success: function(data){
	        		_self.applicatdata = data.applicatdata;
	        		console.log(JSON.stringify(data.applicatdata));
	          	}
	        });
	    }
	});
    $(function () {
        $('#upload').click(function () {
            $('#image').click();
            $('#image').change(function(){
                lrz(this.files[0])
                    .then(function (rst) {
                        $('.bacimg').attr('src',rst.base64);
                        $('#upload').hide();
                        // 处理成功会执行
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
            });
        });
        $('#upload2').click(function () {
            $('#image2').click();
            $('#image2').change(function(){
                lrz(this.files[0])
                    .then(function (rst) {
                        $('.bacimg2').attr('src',rst.base64);
                        $('#upload2').hide();
                        // 处理成功会执行
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
            });
        });
    });
	//获取URL地址参数
    function GetQueryString(name){
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  unescape(r[2]); return null;
    }
	
</script>
</html>