html { margin: 0; padding: 0; }
body { font-size: 100%; margin: 0; padding: 1.75em; font-family: 'Helvetica Neue', Arial, sans-serif; }
ul,li{list-style:none;padding:0;margin:0;}
h1 { font-size: 1.75em; margin: 0 0 0.6em 0; }
h2 { font-size: 1.25em; margin: 0 0 0.6em 0; }

a { color: #2996cc; }
a:hover { text-decoration: none; }

p { line-height: 1.5em; }
.small { color: #666; font-size: 0.875em; }
.large { font-size: 1.25em; }


label {
    font-weight: bold;
}

input[type="text"] {
    margin: 0.5em 0 3em 0;
    padding: 0.5em;
}

button#datepicker-button {
    margin-bottom: 3em;
}

.flow-element {
    display: inline-block;
    margin-right: 3em;
    vertical-align: top;
}
.flow-element:last-child {
    margin-right: 0;
}
.flow-element input {
    margin-top: 0;
}

#container {
    min-height: 15em;
}
.demo-container{width:800px;margin:0 auto;}
.demo-container h3{text-align:center;}
.demo-container ul li{float:left;width:170px;height:55px;margin:10px;}
.demo-container ul li a{display:block;width:170px;height:55px;background:#eee;text-decoration:none;text-align:center;line-height:55px;border-radius:3px;}
.demo-container ul li a:hover{background-color:#ddd;text-decoration:underline;}