/*--------------------------签证日本---------------------------*/
.card-head div:nth-child(1){width:15%;}
.card-head div:nth-child(2){width:21.5%;}
.card-head div:nth-child(3){width: 21.5%;}
.card-head div:nth-child(4){width: 13.5%;}
.card-head div:nth-child(5){width: 11.5%;}
.card-head div:nth-child(6){width:5%;}
.card-head div:nth-child(7){width: 29%;position: relative;right: -35px;}
.everybody-info div:nth-child(1){width:13%;}
.everybody-info div:nth-child(2){width:16.5%;}
.everybody-info div:nth-child(3){width:23%;}
.everybody-info div:nth-child(4){width:20%;}
.everybody-info div:nth-child(5){width:20%;}
/*.everybody-info div:last-child{float:right;width:74px;}	 */