/*--------------------------初审日本---------------------------*/
.card-head div:nth-child(1){width:190px;}
.card-head div:nth-child(2){width:180px;}
.card-head div:nth-child(3){width:180px;}
.card-head div:nth-child(5){position:absolute;right:35px;}
.everybody-info div:nth-child(1){width:12%;}
.everybody-info div:nth-child(2){width: 14.5%;}
.everybody-info div:nth-child(3){width:16%;}
.everybody-info div:nth-child(4){width:13%;}
.everybody-info div:nth-child(5){width:30%;}
.everybody-info div:last-child{float:right;width:142px;position: relative;right: -7px;}	
.unqualified{margin-right: 0 !important;}