/*公司管理---->公司人员*/
.SelectWid{width: 150px;}
.marWid{margin-left: -10px !important;}
.textWidth{width: 200px;}
.marHead{padding: 24px 15px 5px;}
.form-control{font-size: 13px;}
.inpImportant{width: 96%;display: inline-block;}
.inpImpWid{width:98.5%;display: inline-block;}

/*公司管理*/
.padLeft{padding-left: 14px;font-size: 14px;margin: 15px 0 2px 0;}
.paddiLeAdd{padding-left: inherit;}
.returnMargi {position: relative;top: 15px;}
/*new 签证布局*/
body{min-width:1160px;overflow-x: auto;}
.qz-head{height: 50px;border-bottom: solid 1px #cee1ff;background-color: #fff;padding-left: 30px;padding-right: 15px;}
.qz-head p{display: inline-block;line-height: 50px;font-size: 15px;color: #2175e5;}
.qz-head span{margin-right: 60px;}
.qz-head input{position: relative;top: 11px;margin-right: 15px;font-size: 12px !important;}
.info{width:100%;background-color: #fff;margin-bottom:15px;}
.info-head{height: 35px;line-height: 36px;border-left:solid 3px #2f86f0;padding-left: 15px;margin-bottom: 0;}
.info-head .btn{position: relative;top: 8px;margin-right: 1.5%;}
.info-body,.info-body-from{width:100%;padding-left:4.5%;}
.info-body{padding-right: 7%;}
.info-body-from{padding-right: 2.8%;padding-bottom: 10px;}
.add-btn,.remove-btn{cursor: pointer;display: block;width: 23px;height: 23px;position: relative;top: -60px; right: -6.5%; float: right;}
.add-btn{background-image:url(../dist/newvisacss/img/add.png);}
.remove-btn{background-image:url(../dist/newvisacss/img/remove.png);}
.clone-module {height: 75px;}
.clone-module .form-group{margin-bottom: 0;}
.bulb{background-image:url(../dist/newvisacss/img/bulb.png);height: 23px;width: 16px;display: block;float: right;position: absolute;top: 41px;right: 5px;cursor: pointer;}
.bulb1{background-image:url(../dist/newvisacss/img/bulb1.png);}
.body-from-input div[class*="col-sm-3"]{padding-right: 3.5%;}
.body-from-input div[class*="col-sm-3"] .form-group .bulb{right: 15.5%;}
.body-from-input div[class*="col-sm-6"]{padding-right: 3.5%;}
.body-from-input div[class*="col-sm-6"] .form-group .bulb{right: 7.9%;}
.info .clone-module:last-child{height: 85px;}
.info-table{padding: 15px 3% 0px 3%;}
#schedulingTable,#principalApplicantTable{border: 1px solid #f4f4f4;}
.editHui,.resetHui{display: inline-block;cursor: pointer;width: 16px;height: 16px;margin: 0 5%;}
.editHui{background-image: url(../dist/newvisacss/img/editHui.png);}
.resetHui{background-image: url(../dist/newvisacss/img/resetHui.png);}
.btnState{outline:none !important;box-shadow: 0 0 black !important;color: #b0b0b0 !important;border: solid 1px #d2d6de;background-color: #fff;margin-right:1rem;}
.btnState-true{color: #287ae7 !important;border-color: #cee1ff;}
.schedulingBtn,.addApplicantBtn,.addExpressInfoBtn{width: 30%;margin: 15px auto;display: block;}
.moreI{width: 18px;height: 18px;display: inline-block;position: relative;top: 3px;float: right;}
.more_unfold{background-image: url(../dist/newvisacss/img/more_unfold.png);}
.more{background-image: url(../dist/newvisacss/img/more.png);}

/*卡片式 操作图标*/
.edit{background-image:url(../dist/newvisacss/img/edit.png);}
.shiShou{background-image:url(../dist/newvisacss/img/shiShou.png);}
.sendZB,.ZBchange,.ZBcancel{width:24px !important;}
.sendZB{background-image:url(../dist/newvisacss/img/sendZB.png);}
.ZBchange{background-image:url(../dist/newvisacss/img/ZBchange.png);}
.ZBcancel{background-image:url(../dist/newvisacss/img/ZBcancel.png);}
.download{background-image:url(../dist/newvisacss/img/download.png);}
.handoverTable{background-image:url(../dist/newvisacss/img/handoverTable.png);}
.visaInput,.guiGuoUpload,.afterSales{width: 18px !important;}
.visaInput{background-image:url(../dist/newvisacss/img/visaInput.png);}
.afterSales{background-image:url(../dist/newvisacss/img/afterSales.png);}
.express{background-image:url(../dist/newvisacss/img/express.png);}
.return{background-image:url(../dist/newvisacss/img/return.png);}
.share{background-image:url(../dist/newvisacss/img/share.png);}
.theTrial{background-image:url(../dist/newvisacss/img/theTrial.png);}
.toVoid{background-image:url(../dist/newvisacss/img/toVoid.png);width:16px !important;}
.basicInfo{background-image:url(../dist/newvisacss/img/basicInfo.png);}
.passportInfo{background-image:url(../dist/newvisacss/img/passportInfo.png);}
.visaInfo{background-image:url(../dist/newvisacss/img/visaInfo.png);}
.qualified{background-image:url(../dist/newvisacss/img/qualified.png);width:22px !important;}
.unqualified{background-image:url(../dist/newvisacss/img/unqualified.png);}
.guiGuoUpload{background-image:url(../dist/newvisacss/img/visaInput.png);}
.delete{background-image:url(../dist/newvisacss/img/delete.png);}