*{
	margin: 0;
	padding: 0;
}
label {
	font-weight:normal !important;
}
.head {
	width: 100%;
	height: 60px;
	line-height: 60px;
	position: fixed;
	top: 0;
	border-bottom:1px solid #eee;
	background: #FFF;
	z-index:10000000000;
}
.title {
	display: block;
	float: left;
	margin-left: 20px;
	font-size: 18px;
}
.btnRight {
	display: block;
	float: right;
}
.saveVisa {
	padding: 5px 20px;
	background: #0099FF;
	color: #FFF;
	border-radius: 6px;
	margin-right: 20px;
	cursor:pointer;
}
.saveVisa:hover,.cancelVisa:hover {
	color:#FFF;
	text-decoration:none;
}
.cancelVisa {
	padding: 5px 20px;
	background: #0099FF;
	color: #FFF;
	border-radius: 6px;
	margin-right: 20px;
	cursor:pointer;
}
.topHide {
	width: 100%;
	height: 60px;
}
.section {
	width: 45%;
	float: left;
	margin-left: 40px;
	color:#656565;
}
.English {
	width: 45%;
	float: right;
	margin-right: 40px;
}
.titleInfo {
	height: 30px;
	line-height: 30px;
	border-left:3px solid #2f86f0;
	padding-left:15px;
	color: #000;
	margin-top: 10px;
}
.companyMain {
	width: 100%;
	padding-left:15px;
}
.companyMainInfo {
	padding: 10px 0;
}
.groupRadioInfo label {
	display: block;
}
.groupInputInfo label {
	display: block;
	font-size: 12px;
}
.groupInputInfo input {
	width: 182px;
	height: 30px; 
	font-size: 13px;
	padding: 0 0 0 10px;
	margin-top: 5px;
}
.teamture {
	display: none;
}
.teamnameture,.teamnamefalse {
	display: none; 
	padding: 10px 0;
}
.teamnamefalseDiv {
	margin-bottom:10px;
}
.companionSurnName {
	display: inline-block; 
	float: left;
}
.companionSurnNameen {
	display: inline-block; 
	width:100%;
}
.companionName {
	display: inline-block;
	float: right;
}
.companionNameen {
	padding-top:10px;
	display: inline-block;
	width:100%;
}
.youRelationship {
	padding-top: 10px;
}
.youRelationship select {
	width: 182px; 
	height: 34px; 
	margin-top: 5px;
}
.firstName,.lastname {
	width:100% !important;
}
.clear {
	clear: both;
}
.btnGroup {
	/* margin-top: 10px; */
}
.everyMarTop {
	margin-top:10px;
}
.visaNumen {
	float:none !important;
	display:inline-block;
	
}
.save {
	display: inline-block; 
	border-radius: 6px; 
	font-size: 14px; 
	padding: 3px 20px; 
	color: #FFFFFF; 
	background: #0099FF;
	cursor:pointer;
}
.cancel {
	display: inline-block; 
	border-radius: 6px; 
	font-size: 14px; 
	padding: 3px 20px; 
	color: #FFFFFF; 
	background: #0099FF;
	margin-left: 9%;
	cursor:pointer;
}
.save:hover,.cancel:hover {
	color:#FFF;
	text-decoration:none;
}
#dateunit{
	width:150px !important;
}
/*以前的美国旅游信息*/
.beforeTourism {
	width: 100%;
}
.goUSPad {
	padding: 10px 0 10px 0;
}
.goUSYes {
	display: none;
}
.goUSMain {
	padding-left:15px;
}
.stopDate {
	margin-top: 10px;
}
.stopDate select {
	width: 100px;height: 30px;
}
.drivingUS {
	padding: 10px 0;
}
.driverInfo {
	display: none;
}
.driverMain {
	float: left;
	margin-bottom:10px;
}
.goUS_CountryDiv,.goUS_CountryDiv {
	margin-bottom:10px;
}
.cbox {
	padding-left:15px;
}
.cbox input:nth-child(2) {
	width:93% !important;
}
.groupcheckBoxInfo label {
	display: block;
	font-size:12px;
}
.groupcheckBoxInfo  input:nth-child(2){
	width: 156px;
	height: 30px;
	padding-left: 10px;
	font-size: 13px;
	margin-top: 5px;
}
.groupcheckBoxInfo  input:nth-child(3){
	width: 20px;
	height: 20px;
	vertical-align: middle;	
	margin:-5px 0 0 5px;
}
.driverR {
	float: right;
	margin-bottom:10px;
}
.driverGroup {
	margin-bottom:10px;
}
.groupSelectInfo label {
	display: block;
	font-size:12px;
}
.groupSelectInfo select {
	width: 182px;
	height: 30px; 
	padding-left: 10px; 
	font-size: 13px; 
	margin-top: 5px;
}
.visaUSMain {
	padding: 0px 0 10px 15px;
}
.dateIssue {
	display: none;
}
.lastVisaDate {
	padding-top: 10px; 
	float: left;
}
.visaNum {
	padding-top: 10px; 
	float: right;
}
.paddingTop {
	padding-top: 10px;
}
.displayTop {
	display: inline-block;
	padding-top: 10px;
}
.displayLeft {
	display: inline-block; 
	float: left;
}
.displayRight {
	display: inline-block; 
	float: right;
}
.padding-left{
	padding-left:15px;
}
.grouptextareaInfo label {
	display: block;
	font-size: 12px;
}
.grouptextareaInfo textarea {
	width: 182px;
	height: 30px;
	padding-left: 10px;
	font-size: 13px;
	margin-top: 5px;
}
.explain ,.refuseExplain {
	display: none;
}
.paddingBottom {
	padding-bottom: 10px;
	padding-left:15px;
}
.onceExplain,.immigrationExplain {
	display: none;
}
.paddingLeft {
	padding-top: 10px; 
	padding-left:15px;
	float: left;
}
.paddingRight {
	padding-top: 10px; 
	float: right;
}
.floatLeft {
	float: left;
	padding-left:15px;
}
.leftNo {
	padding-left:0 !important;
}
.floatRight {
	float: right;
}
.paddingNone {
	display: none; 
	padding-top: 10px;
}
.beforeWorkInfo {
	display: none;
}
.selectInfoen {
	display:inline-block;
	padding:10px 0 0 15px;
}
.elementHide{
	display: none;
}
/* 左右按钮样式 */
.prevstep {
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	width:40px;
	height:100%;
	cursor:pointer;
}
.prevstep span {
	position:absolute;
	top:50%;
	width:24px;
	height:24px;
	border-right:4px solid #999;
	border-top:4px solid #999;
	margin-left:15px;
	transform:translate(0,-50%) rotate(-135deg);
	-webkit-transform:translate(0,-50%) rotate(-135deg);
}
.nextstep {
	position:fixed;
	top:0;
	right:0;
	z-index:9999;
	width:40px;
	height:100%;
	cursor:pointer;
}
.nextstep span {
	position:absolute;
	top:50%;
	width:24px;
	height:24px;
	border-left:4px solid #999;
	border-bottom:4px solid #999;
	transform:translate(0,-50%) rotate(-135deg);
	-webkit-transform:translate(0,-50%) rotate(-135deg);
}
.bigArea {
	width:100% !important;
}
.directRelatives {
	margin-top:10px;
}
.groupPM {
	padding-left:15px;
	margin-top:10px;
}
.draBig {
	padding-left:15px;
}
.draBig input {
	width:100% !important;
}
.marginLS,.educationYes ,.languageGroup,.educationGroup,.gocountryGroup,.organizationGroup,.militaryGroup {
	margin-top:10px;
}
.gocountryGroup {
	margin-bottom:10px;
}
/* 左按钮 */
.leftNav {
	position: fixed;
	top: 15px;
	left: 4px;
	z-index: 999;
	width: 40px;
	height: 100%;
	cursor: pointer;
}

.leftNav span {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	margin-left: 10px;
	border-right: 4px solid #999;
	border-top: 4px solid #999;
	-webkit-transform: translate(0, -50%) rotate(-135deg);
	transform: translate(0, -50%) rotate(-135deg);
}
.dislogHide {
	width: 92%;
	height: 100%;
	position: fixed;
	top: 60px;
	left: 35px;
	background: #fff;
	opacity: 0;
	z-index: 100000000;
	display: none;
}
.areaInputPic {
	width:100% !important;
	height:30px !important;
}
.visanumber {
	margin-top:0px !important;
}
#workstartdate ,#workstartdateen {
	margin-top:10px !important;
}
/*****************英文样式*******************/
#dateuniten {
	width:150px !important;
}