*{
	margin: 0;
	padding: 0;
}
label {
	font-weight:normal !important;
}
.head {
	width: 100%;
	height: 60px;
	line-height: 60px;
	position: fixed;
	top: 0;
	border-bottom:1px solid #eee;
	background: #FFF;
	z-index:10000000000;
}
.title {
	display: block;
	float: left;
	margin-left: 20px;
	font-size: 18px;
}
.btnRight {
	display: block;
	float: right;
}
.saveVisa {
	padding: 5px 20px;
	background: #0099FF;
	color: #FFF;
	border-radius: 6px;
	margin-right: 20px;
	cursor:pointer;
}
.saveVisa:hover,.cancelVisa:hover {
	color:#FFF;
	text-decoration:none;
}
.cancelVisa {
	padding: 5px 20px;
	background: #0099FF;
	color: #FFF;
	border-radius: 6px;
	margin-right: 20px;
	cursor:pointer;
}
.topHide {
	width: 100%;
	height: 60px;
}
.section {
	width: 45%;
	float: left;
	margin-left: 40px;
	color:#656565;
}
.English {
	width: 45%;
	float: right;
	margin-right: 40px;
}
.titleInfo {
	height: 30px;
	line-height: 30px;
	border-left:3px solid #2f86f0;
	padding-left:15px;
	color: #000;
	margin-top: 10px;
}
.companyMain {
	width: 100%;
	padding-left:15px;
}
.companyMainInfo {
	padding: 10px 0;
}
.groupRadioInfo label {
	display: block;
}
.groupInputInfo label {
	display: block;
	font-size: 12px;
}
.groupInputInfo input {
	width: 182px;
	height: 30px; 
	font-size: 13px;
	padding: 0 0 0 10px;
	margin-top: 5px;
}
.teamture {
	display: none;
}
.teamnameture,.teamnamefalse {
	display: none; 
	padding: 10px 0;
}
.teamnamefalseDiv {
	margin-bottom:10px;
}
.companionSurnName {
	display: inline-block; 
	float: left;
}
.companionSurnNameen {
	display: inline-block; 
	width:100%;
}
.companionName {
	display: inline-block;
	float: right;
}
.companionNameen {
	padding-top:10px;
	display: inline-block;
	width:100%;
}
.youRelationship {
	padding-top: 10px;
}
.AndYouRS {
	padding-bottom:68px;
}
.youRelationship select {
	width: 182px; 
	height: 30px; 
	margin-top: 5px;
}
.firstName,.lastname {
	width:100% !important;
}
.clear {
	clear: both;
}
.btnGroup {
	/* margin-top: 10px; */
}
.everyMarTop {
	margin-top:10px;
}
.visaNumen {
	display:inline-block;
	padding-top:11px !important;
}
.save {
	display: inline-block; 
	border-radius: 6px; 
	font-size: 14px; 
	padding: 3px 20px; 
	color: #FFFFFF; 
	background: #0099FF;
	cursor:pointer;
}
.cancel {
	display: inline-block; 
	border-radius: 6px; 
	font-size: 14px; 
	padding: 3px 20px; 
	color: #FFFFFF; 
	background: #0099FF;
	margin-left: 9%;
	cursor:pointer;
}
.save:hover,.cancel:hover {
	color:#FFF;
	text-decoration:none;
}
#dateunit{
	width:150px !important;
}
/*以前的美国旅游信息*/
.beforeTourism {
	width: 100%;
}
.goUSPad {
	padding: 10px 0 10px 0;
}
.goUSYes {
	display: none;
}
.goUSMain {
	padding-left:15px;
}
.stopDate {
	margin-top: 10px;
}
.stopDate select {
	width: 100px;height: 30px;
}
.drivingUS {
	padding: 10px 0;
}
.driverInfo {
	display: none;
}
.driverMain {
	float: left;
	margin-bottom:10px;
}
.goUS_CountryDiv,.goUS_CountryDiv {
	margin-bottom:10px;
}
.cbox {
	padding-left:15px;
}
.cbox input:nth-child(2) {
	width:93% !important;
}
.groupcheckBoxInfo label {
	display: block;
	font-size:12px;
}
.groupcheckBoxInfo  input:nth-child(2){
	width: 156px;
	height: 30px;
	padding-left: 10px;
	font-size: 13px;
	margin-top: 5px;
}
.groupcheckBoxInfo  input:nth-child(3){
	width: 20px;
	height: 20px;
	vertical-align: middle;	
	margin:-5px 0 0 5px;
}
.driverR {
	float: right;
	margin-bottom:10px;
}
.driverGroup {
	margin-bottom:10px;
}
.groupSelectInfo label {
	display: block;
	font-size:12px;
}
.groupSelectInfo select {
	width: 182px;
	height: 30px; 
	padding-left: 10px; 
	font-size: 13px; 
	margin-top: 5px;
}
.visaUSMain {
	padding: 0px 0 10px 15px;
}
.dateIssue {
	display: none;
}
.lastVisaDate {
	padding-top: 15px; 
	float: left;
}
.lastVisaDateen {
	float:left;
}
.lastVisaDateen label {
	width:182px !important;
}
.visaisnumber {
	padding-top:15px !important;
}
.visaNum {
	padding-top: 10px; 
	float: right;
}
.paddingTop {
	padding-top: 10px;
}
.displayTop {
	display: inline-block;
	padding-top: 10px;
}
.displayLeft {
	display: inline-block; 
	float: left;
}
.displayRight {
	display: inline-block; 
	float: right;
}
.padding-left{
	padding-left:15px;
}
.grouptextareaInfo label {
	display: block;
	font-size: 12px;
}
.grouptextareaInfo textarea {
	width: 182px;
	height: 30px;
	padding-left: 10px;
	font-size: 13px;
	margin-top: 5px;
}
.explain ,.refuseExplain {
	display: none;
}
.paddingBottom {
	padding-bottom: 10px;
	padding-left:15px;
}
.onceExplain,.immigrationExplain {
	display: none;
}
.paddingLeft {
	padding-top: 10px; 
	padding-left:15px;
	float: left;
}
.paddingRight {
	padding-top: 10px; 
	float: right;
}
.floatLeft {
	float: left;
	padding-left:15px;
}
.leftNo {
	padding-left:0 !important;
}
.floatRight {
	float: right;
}
.paddingNone {
	display: none; 
	padding-top: 10px;
}
.beforeWorkInfo {
	display: none;
}
.selectInfoen {
	display:inline-block;
	padding:10px 0 0 15px;
}
.elementHide{
	display: none;
}
/* 左右按钮样式 */
.prevstep {
	position:fixed;
	top:0;
	left:0;
	z-index:9999;
	width:40px;
	height:100%;
	cursor:pointer;
}
.prevstep span {
	position:absolute;
	top:50%;
	width:24px;
	height:24px;
	border-right:4px solid #999;
	border-top:4px solid #999;
	margin-left:15px;
	transform:translate(0,-50%) rotate(-135deg);
	-webkit-transform:translate(0,-50%) rotate(-135deg);
}
.nextstep {
	position:fixed;
	top:0;
	right:0;
	z-index:9999;
	width:40px;
	height:100%;
	cursor:pointer;
}
.nextstep span {
	position:absolute;
	top:50%;
	width:24px;
	height:24px;
	border-left:4px solid #999;
	border-bottom:4px solid #999;
	transform:translate(0,-50%) rotate(-135deg);
	-webkit-transform:translate(0,-50%) rotate(-135deg);
}
.bigArea {
	width:100% !important;
}
.directRelatives {
	margin-top:10px;
}
.groupPM {
	padding-left:15px;
	margin-top:10px;
}
.draBig {
	padding-left:15px;
}
.draBig input {
	width:100% !important;
	padding:0 0 0 10px !important;
}
.marginLS,.educationYes ,.languageGroup,.educationGroup,.gocountryGroup,.organizationGroup,.militaryGroup {
	margin-top:10px;
}
.gocountryGroup {
	margin-bottom:10px;
}
/* 左按钮 */
.leftNav {
	position: fixed;
	top: 15px;
	left: 4px;
	z-index: 999;
	width: 40px;
	height: 100%;
	cursor: pointer;
}

.leftNav span {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	margin-left: 10px;
	border-right: 4px solid #999;
	border-top: 4px solid #999;
	-webkit-transform: translate(0, -50%) rotate(-135deg);
	transform: translate(0, -50%) rotate(-135deg);
}
.dislogHide {
	width: 92%;
	height: 100%;
	position: fixed;
	top: 60px;
	left: 35px;
	background: #fff;
	opacity: 0;
	z-index: 100000000;
	display: none;
}
.areaInputPic {
	width:100% !important;
	height:30px !important;
	padding:0 0 0 10px !important;
}
.visanumber {
	/* margin-top:0px !important; */
}
#workstartdate ,#workstartdateen {
	margin-top:10px !important;
}
/*****************英文样式*******************/
#dateuniten {
	width:150px !important;
}
.companyGroupen {
	display:none !important;
}
/* 旅伴信息 */
.firstnameen,.lastnameen {
	width:100% !important;
}
.teamnamefalseen {
	/* margin-bottom:38px; */
}
.companyGroup {
	margin-top:-44px;
	margin-bottom:14px;
}
/* 以前的美国旅游信息 */
#dateunit,.dateuniten {
	margin-left:10px;
}
.gotousInfoen {
	margin-bottom:35px;
}
.goUS_CountryDiven {
	margin-bottom:10px;
}
.paddingBom {
	padding-bottom:18px;
}
#lostexplainen {
	margin-top:0px !important;
}
.publicPaddingBom {
	padding-bottom:22px;
}
.publicPaddingBomLong {
	padding-bottom:38px;
}
#fatherstatusen {
	width:100% !important;
}
#motherstatusen {
	width:100% !important;
}
.margtop {
	margin-top:29px !important;
}
#issueddate {
	margin-top:10px !important;
}
/* 配偶信息 */
#spousenationalityen {
	width:100% !important;
}
.publicMarNone {
	margin-top:0px !important;
}
#spousecountryen {
	width:100% !important;
}
#spouseaddressen{
	width:100% !important;
}
#otherfrstaddress {
	width:100% !important;
}
#othersecondaddress {
	width:100% !important;
}
.prvPadL {
	padding-left:15px;
}
.prvPadLT {
	padding:10px 0 0 15px;
}
#otherfrstaddressen {
	width:100% !important;
}
#othersecondaddressen {
	width:100% !important;
}
#othercountryen {
	width:100% !important;
}
.padlongTop {
	padding-top:144px;
}
.padlongBom {
	padding-bottom:67px;
}
.paddingBom-20 {
	padding-bottom:20px;
}
.paddingBom-35 {
	padding-bottom:35px;
}
.paddingBom-8 {
	padding-bottom:8px;
}
.goUS_drivers,.goUS_driversen {
	display:inline-block;
}

#spousecountry {
	width:100% !important;
}

.directRelativesYesen {
	display:inline-block;
}
/* 父亲的生日 */
#fatherbirthday,#fatherbirthdayen,#motherbirthday,#motherbirthdayen {
	display:inline-block;
}
.militaryYes {
	display:inline-block;
}
/* padding */
.paddingTop-9 {
	padding-top:9px;
}
.paddingTop-8 {
	padding-top:8px;
}
.paddingTop-11 {
	padding-top:11px;
}
.paddingbottom-14 {
	padding-bottom:14px;
}
.paddingleft-15 {
	padding-left:15px;
}
.paddingtop-12 {
	padding-top:12px !important;
}
.paddingbottom-65 {
	padding-bottom:65px;
}
/* margin */
.marginbotttom-0 {
	margin-bottom:0px !important;
}
.marginbottom-5 {
	margin-top:5px !important;
} 
.margintop-10 {
	margin-top:10px !important;
}
.marginbottom-6 {
	margin-bottom:6px !important;;
}
.marginbottom-14 {
	margin-bottom:14px;
}
.marginbottom-19 {
	margin-bottom:19px;
}
.margintop-20 {
	margin-top:20px;
}
.marginbottom-20 {
	margin-bottom:20px;
}
.marginbottom-32 {
	margin-bottom:32px;
}
.marginbottom-36 {
	margin-bottom:36px;
}
.marginbottom-40 {
	margin-bottom:40px;
}
.marginbottom-46 {
	margin-bottom:46px;
}